<div class="container">
    <section class="event-section-1">
        <h2 class="section-title">Our current event</h2>
        <div class="split">
            <div class="image">
                <img src="https://i.pinimg.com/736x/6d/81/97/6d819776f0ae4e2d24e3fc9e1e27d93f.jpg" alt="Strings in Harmony Concert" class="event-image">

            </div>
            
            <div class="current-event">
                    <h2 class="event-name">“Luminescent Pathways: Illuminating the Unseen”</h2>
                    <p class="event-description">
                        In this immersive workshop, artist <b>Wei Zhang</b> explores the interplay of light and darkness, transforming the gallery's shadowy spaces into a dynamic canvas of luminous experiences. Utilizing LED installations, projected light sculptures, bioluminescent displays, and carefully positioned spotlights, Zhang invites participants to journey through an environment where light becomes both medium and message, revealing hidden dimensions and emotional landscapes within the darkness.
The event promises to challenge perceptions of visibility and invisibility, creating an ethereal environment where different lighting technologies and artistic techniques converge to tell a story of revelation and transformation.
                    </p>
                    
                    
                    <ul class="event-description" >
                        <ol  ><b>Date:</b> December, 18th to 25th 2024</ol>
                        <ol ><b>Timing:</b>  9 AM to 2 PM</ol>
                        <ol ><b>Location:</b> Giggle & Gallery</ol>
                    </ul>
            
        </div>
        </div>
        
    </section>
    <section class="event-section-2">
        <div class="current-event">
            
                <ul class="past-event-description">
                    <ol ><b>Artist:</b> Wei Zhang</ol>
                    <ol ><b>Area:</b> The Radiance Alcove</ol>
                    <ol><b>Host:</b> Urban Illuminate Arts Collective</ol>
                    <ol><b>Venue:</b> Giggle & Gallery Center</ol>
                </ul>
                
                
                <h2 class="partner-name"> Partners</h2>
                <img src="assets\Our-partners\Our partners\Clubs\3.png" alt="Strings in Harmony Concert" class="partner-logo">
                <button class="event-button" >Register to attend</button>   
                
                
            
            
        </div>
    </section>

    <button class="retour-button" routerLink ="/Events" routerLinkActive="active" >Back To Events</button>  
</div>

